body{
    background-color: black;
}
h1{
    color: azure;
    text-align: center;
}
header{
    width: 100;
    background-color: crimson;
}
.logo{
    color: azure;
    text-align: center;
    font-size:  1.4em;
}

nav{

    text-align: right;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}