body{
    background-color: rgb(253, 6, 6);
}
h1{
    color: azure;
    text-align: center;
}
header{
    width: 100;
    background-color: rgb(253, 6, 6);
}
.logo{
    color: azure;
    text-align: center;
    font-size:  1.4em;
}

nav{

    text-align: right;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin: auto;
}

footer{
    background-color: rgb(253, 6, 6);
    width: 80%;
}